<!-- Featured Questions -->
<section class="promoted-articles">
    <h3>Featured Questions</h3>


    <div class="row-container  container ">
        <div class="row mainRow" style="">
            <div class="column col-sm-6 " datacolumn-id="809" style="  padding:2.4479804161566707vh 0vh;     ">
                <div class="column-container vertical-top" style="">
                    <div class="module-container  align-center ModuleAccordion  first   last "
                         style=" padding:0 30px 0 30px;  ">
                        <div class="  module ModuleAccordion " datamodule-id="1712">
                            <div class="accordion-module-container style1">

                                {% for item in site.faqs %}
                                {% if item.tags contains "featured" %}

                                <div id="accordion1712" data-module-id="1712">
                                    <div class="accordion-container">
                                        <div class="accordion-item">
                                            <div class="accordion-item-content">
                                                <div class="accordion-item-title">
                                                    <div class="accordion-item-title-wrapper">
                                                        <div class="icon-container">
                                                            <i class="uci-plus-2"></i>
                                                        </div>
                                                        <div class="title-container">
                                                            {{item.title}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item-description">
                                                    <div class="description-container">
                                                        {{item.content}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                {% endif %}
                                {% endfor %}


                                <style>
                                    #accordion1712 .accordion-item {

                                        padding-bottom: 10px;

                                    }

                                    #accordion1712 .accordion-item-content {
                                        background: rgba(230, 230, 230, 0.27);
                                        background-clip: content-box;


                                        border-radius: 19.75px;

                                    }

                                    #accordion1712 .accordion-item .icon-container {
                                        font-size: 15px;
                                        color: #444;
                                        width: 15px;
                                        height: 15px;
                                    }

                                    #accordion1712 .accordion-item .icon-container:hover {
                                        color: #888;
                                    }

                                    #accordion1712 .accordion-item .accordion-item-title .title-container {
                                        padding-left: 10px;
                                    }

                                    #accordion1712 .accordion-item .accordion-item-title {
                                        color: #4a4a4a;
                                        font-size: 15px;
                                        font-weight: 700;
                                        font-family: Proxima Nova Soft Custom;
                                        text-align: left;
                                        letter-spacing: 0px;


                                    }

                                    #accordion1712 .accordion-item .accordion-item-description {
                                        color: #333;
                                        font-size: 14px;
                                        font-family: Proxima Nova Soft Sb Custom;
                                        font-weight: 500;
                                        letter-spacing: 0px;
                                        line-height: 1.5;


                                    }

                                    #accordion1712 .accordion-item .accordion-item-description .description-container {
                                        margin-top: 10px;
                                        margin-bottom: 15px;
                                        transform: none;;
                                    }

                                    #accordion1712 .accordion-item .accordion-item-description .description-container a {
                                        color: #333;
                                    }

                                    #accordion1712 .accordion-item .accordion-item-description .description-container a:hover {
                                        color: #333;
                                    }
                                </style></div> </div>
                    </div>
                </div>
            </div>
        </div>
</div>


</section>